# Server Configuration
PORT=3000
NODE_ENV=development

# MySQL Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=todo_app
DB_USER= <của bạn> 
DB_PASSWORD= <của bạn> 

# Mailer

GOOGLE_APP_USER= <của bạn> 
GOOGLE_APP_PASSWORD= <của bạn>

# JWT Configuration
JWT_ACCESS_SECRET= <của bạn> 
JWT_REFRESH_SECRET= <của bạn> 
JWT_VERIFY_EMAIL_SECRET= <của bạn> 

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REFRESH_TOKEN= your_google_refresh_token


JWT_ACCESS_EXPIRES_IN= <của bạn> 
JWT_REFRESH_EXPIRES_IN= <của bạn> 
JWT_ALGORITHM= <của bạn> 

# Rate Limiter Configuration
RATE_LIMITER_WINDOW_MS= <của bạn> 
RATE_LIMITER_MAX_REQUESTS= <của bạn> 

# Pagination Configuration
PAGINATION_DEFAULT_PAGE= <của bạn> 
PAGINATION_DEFAULT_LIMIT= <của bạn> 
PAGINATION_MAX_LIMIT= <của bạn> 

